{% extends "volunteerUofG/base.html" %} {% block content %}
<style>
    .paddingrightleft {
        padding-right: 10rem;
        padding-left: 10rem;
    }
</style>

<div class="container mt-3">
    <div class="col">
        <h1 style="text-align: center;">Volunteering Platfor for UofG Students</h1>
        <hr>
        <div class="card text-bg-primary mb-3 d-flex justify-content-center px-5 my-4 paddingrightleft" style="max-width: 100rem; color: black;">

            <div class="card-body d-flex justify-content-end">
                <p style="text-align: justify;" class="card-text">Volunteering has long been a best way of gaining experience and domain knowledge related to students’ career opportunities, in the case of ending up with unemployment in paid work. With the aid of volunteering choices, undergraduates and
                    postgraduates can be allowed to network and meet new people in various organisations. In the end of this highly beneficial period, students can increase self-confidence, develop new skills, leadership, project management and most importantly
                    team working. Employers take good quality volunteering experience into consideration just as professional paid employments. <br><br>On the other hand, charities and organisations are in need of volunteers coming from all kind of backgrounds
                    with various talents and abilities. In this regard, University of Glasgow is a perfect resource with it’s nearly 35.000 students from over 140 countries worlwide. Arts, Life-Sociel sciences and engineering scholars may contribute to
                    the society of Glasgow with their well-known reputation of academic success in the UK. <br><br>However, after a domain research, I have realised that there is no platform on the market that meets the organisations and charities with
                    the highly deemed potential volunteers of The University of Glasgow. Currently students are guided to apply to volunteering organisations directly over the websites or their local branches. Consequently, after taking the challenging
                    academic curriculum and exam periods into account, students feel overwhelmed of facing the multiple volunteering applications over various platforms, paperworks and procedures.<br><br> Therefore, we offer a web based software platform
                    that handles all the issues and meets the sides of volunteering in one platform which is accepting only the students of the University of Glasgow. Organisations will be able to advertise any kind of volunteering opportunity on this
                    platform and students can apply for them immediatly according to their interests and talents. After a short registering process that requires an university student email address, students will be able to support the society by finding
                    the best volunteering match for themselves.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}