{% extends "volunteerUofG/base.html" %} { load static} {% block content %}


<div class="container mt-3 paddingrightleft" style="text-align: justify;">
    <div class="col">
        <h2 style="text-align: center;">Active Opportunities</h2>
        <hr>
    </div>
    <div class="card-group">
        <div class="row">
            {% for opportunity in opportunities %}
            <div class="card col-md-4" style="color: black;">
                <img class="card-img-top" src="{{ opportunity.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ opportunity.title }}</h5>
                    <p class="card-text">{{ opportunity.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Interested In : {{ opportunity.title }}</li>
                    <li class="list-group-item">Skills : {{ opportunity.skills }}</li>
                    <li class="list-group-item">Location : {{ opportunity.location }}</li>
                    <li class="list-group-item">Time : {{ opportunity.time }}</li>
                    <li class="list-group-item">Creator : {{ opportunity.creator }}</li>
                    <li class="list-group-item">URL : {{ opportunity.url }}</li>
                    <li class="list-group-item">Email : {{ opportunity.creator.user.email }}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}