{% extends "volunteerUofG/base.html" %} {% load crispy_forms_tags %}{% block content %}

<div class="container mt-3" style="text-align: center; padding: 25px;">
    <div>
        <h1>Register for VolunteerUofG</h1>
        <hr> {% if registered %} VolunteerUofG says: <strong>thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br /> {% else %} VolunteerUofG says: <strong>register here!</strong><br />
        <form id="user_form" method="post" action="/becomeAVolunteer/" enctype="multipart/form-data">
            <div class="col-md-5" style="text-align: center;  position: relative; left: 25%; right: 25%;
            width:50%;">
                {% csrf_token %} {{ user_form|crispy }} {{ volunteer_form|crispy}}
            </div>


            <input type="submit" class="btn btn-primary" name="submit" value="Register">
        </form>
        {% endif %}
    </div>
    {% endblock %}

</div>