{% extends "volunteerUofG/base.html" %} {% load crispy_forms_tags %}{% block content %}

<div class="container mt-3">
    <h1 style="text-align: center;">Create an Opportunity !</h1>
    <hr> {% if registered %} VolunteerUofG says: <strong>Thank you for helping our society !</strong>
    <a href="/">Return to the homepage.</a><br />{% else %}
    <div>
        <form id="user_form" method="POST" action="/createAnOpportunity/" enctype="multipart/form-data">
            <div class="col-md-5" style="text-align: center;  position: relative; left: 25%; right: 25%;
            width:50%;">
                {% csrf_token %} {{ opportunity_form|crispy }}
                <input type="submit" class="btn btn-primary" name="submit" value="Create">
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}