{% extends "volunteerUofG/base.html" %} {% block content %}
<style>
    .accordion-body {
        color: #000000;
    }
    
    .paddingrightleft {
        padding-right: 10rem;
        padding-left: 10rem;
    }
</style>

<div class="container mt-3 paddingrightleft accordion-body">
    <div class="col">
        <h2>Login</h2>
        <hr>

        <form method="POST">
            {% csrf_token %} {% if error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endif %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3"></div>

            <input type="submit" value="Login" class="btn btn-primary">
        </form>

    </div>
</div>
{% endblock content %}