{% extends "volunteerUofG/base.html" %} {% block content %}
<style>
    .paddingrightleft {
        padding-right: 10rem;
        padding-left: 10rem;
    }
</style>

<!--<div class="container mt-3 paddingrightleft accordion-body" style="color: black ;">
    <div class="col">
        <h2>Login</h2>
        <hr>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            <div class="mb-3">
                Username: <input type="text" name="username" value="" size="50" />
                <br />
            </div>
            <div class="mb-3">
                Password: <input type="password" name="password" value="" size="50" />
                <br />
            </div>

            <input type="submit" value="submit" />
        </form>


    </div>
</div>-->


<div class="container mt-3">
    <div class="col">
        <h1 style="text-align: center;">Login</h1>
        <hr>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3"></div>

            <input type="submit" value="Login" class="btn btn-primary">
        </form>

    </div>
</div>
{% endblock content %}