{% extends "volunteerUofG/base.html" %} {% load crispy_forms_tags %}{% block content %}

<div class="container mt-3" style="text-align: center; padding: 30px;">
    <h1 style="text-align: center;">Update Opportunity !</h1>
    <hr> {% if registered %} VolunteerUofG says: <strong>Thank you for helping our society !</strong>
    <a href="/">Return to the homepage.</a><br />{% else %}
    <form action="" method="POST">
        <div class="col-md-5" style="text-align: center;  position: relative; left: 25%; right: 25%;
            width:50%;">
            {% csrf_token %} {{ opportunity_form|crispy }}
        </div>
        <input type="submit" name="Submit" class="btn btn-primary" value="Update">
    </form>
    {% endif %}
</div>

{% endblock %}