{% extends "volunteerUofG/base.html" %} {% block content %}


<!--<div class="container mt-3" style="text-align: center; padding: 30px;">

    <h1 style="text-align: center;">Update Opportunity !</h1>
    <hr> VolunteerUofG says: <strong>Thank you for helping our society !</strong>
    <a href="/">Return to the homepage.</a><br />
    <form id="user_form" method="post" action="updateOpportunity/" enctype="multipart/form-data">

        {% csrf_token %} {{ opportunity_form.as_p }}

        <input type="submit" name="submit" value="Update" style="padding-bottom: 30px;">
    </form>



</div>-->
<div class="container mt-3" style="text-align: center; padding: 30px;">
    <h1 style="text-align: center;">Update Opportunity !</h1>
    <hr> {% if registered %} VolunteerUofG says: <strong>Thank you for helping our society !</strong>
    <a href="/">Return to the homepage.</a><br />{% else %}
    <form action="" method="POST">
        {% csrf_token %} {{ opportunity_form.as_p }}


        <input type="submit" name="Submit" value="Update" style="padding-bottom: 30px;">
    </form>
    {% endif %}
</div>

{% endblock %}